.change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.logo-back {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    width: 40%;
}

.title {
    color: #0047ab;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.form-group span {
    color: #014aad;
    margin-left: 2px;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    border: none;
    border-radius: 20px;
    background: #e5efff;
    font-size: 14px;
}

.toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.submit-btn-password {
    width: 100%;
    padding: 14px;
    border: none;
    background-color: #0047ab;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
}


@media (min-width: 482px) and (max-width: 820px) {

    .change-password-container{
        margin-top: 2rem;
    }

    .logo-back {
        justify-content: center;
    }

    .back-btn {
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }

    .logo {
        margin: 0 auto;
        width: 12rem;
    }

    .title {
        font-size: 26px;
    }

    .form {
        max-width: 350px;
    }
}

@media (min-width: 431px) and (max-width: 480px) {
    .logo-back {
        justify-content: center;
    }

    .back-btn {
        position: absolute;
        left: 2rem;
        top: 1.7rem;
    }

    .logo {
        margin: 0 auto;
        width: 8rem;
    }

    .title {
        font-size: 24px;
    }

    .form {
        max-width: 320px;
    }
}

@media (min-width: 394px) and (max-width: 431px) {

    .logo-back {
        justify-content: center;
    }

    .back-btn {
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }

    .logo {
        margin: 0 auto;
        width: 7rem;
    }

    .title {
        font-size: 24px;
    }

    .form {
        max-width: 300px;
    }
}

@media (max-width: 393px) {

    .logo-back {
        justify-content: center;
    }

    .back-btn {
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }

    .logo {
        margin: 0 auto;
        width: 6rem;
    }

    .title {
        font-size: 20px;
    }

    .form {
        max-width: 280px;
    }
}